<!DOCTYPE html>
<html lang="en">
    
      <head>
  <Title>Local Restaurants</Title>
         
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
         
    </head> 
  
    <style>
    body { background-color: #ffffe6; }   
   
    </style>
    
    <body>

<div class="container-fluid">        
        
<img src="http://www.highergroundlandscapes.co.nz/Images/outdoor_pizza_oven.jpg" style="width:90%" class="mx-auto d-block" >
</div>
        
<div>
<h1 align="center" style="font-family:Garamond">{{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>

<ul>
    {% for song in album.song_set.all %} 
    <li>{{ song.song_title }} - {{ song.file_type }}</li>
    {% endfor %}
</ul>
    <br>    
    <h3> Add Review: </h3> 
    
<form action="/post.html" target="_blank" method="post">
  <textarea from="1" name="message" rows="5" cols="100">
My thoughts on the meal were...
</textarea>
    <br>
<button type="button" >Submit</button>
</form>
    
   <h3>{{ review.comment }}</h3> 

        </div>
    </body>
</html>






