<!DOCTYPE html>
<html lang="en">
    
      <head>
  <Title>Local Restaurants</Title>
         
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
         
    </head> 
  

<img src="http://www.highergroundlandscapes.co.nz/Images/outdoor_pizza_oven.jpg" style="width:825px;height:200px;">

<h1>{{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>

<ul>
    {% for song in album.song_set.all %} 
    <li>{{ song.song_title }} - {{ song.file_type }}</li>
    {% endfor %}
</ul>


<h2> Food Review: </h2>

<ul>
  {% for Review in Review.rating.all %}
    <li>
      <p>{{ Review.rating }} star{{ Review.rating|pluralize }}</p>
      <p>{{ Review.comment }}</p>
      <p>Created by {{ review.user }} on {{ review.date }}</p>
    </li>
  {% endfor %}
</ul>

<h3>Add Review</h3>
    
<br/>
 <button class="btn btn-primary" disabled>
  <span class="spinner-border spinner-border-sm"></span>
  Loading..
</button>

</html>

