<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <div class="alert alert-success">
  <strong>Success! You logged out.</strong>
</div>

<div class="alert alert-success">
Click here to <button type="button" class="btn btn-primary active"> <a href="{% url 'login' %}">Login</a></button>
 </div>   

{% endif %}
{% endblock %}